<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Quiz</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<!--Use some styles of bottoms for the quiz options-->
</head>
<body>
    <form method="POST">
    {% for i in range(number) %}
<!--Details that the quiz contain-->
    <div class="input-group">
        <span class="input-group-text">Question</span>
        <textarea class="form-control" aria-label="With textarea" name="{{i}}" id="{{i}}"></textarea>
    </div>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">A</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="A{{i}}">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">B</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="B{{i}}">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">C</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="C{{i}}">
    </div>
    
    <div class="input-group">
        <span class="input-group-text">Answer</span>
        <textarea class="form-control" aria-label="With textarea" name="Answer{{i}}" id="Answer{{i}}"></textarea>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>