<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
</head>
<!-- Appearance -->
<body style="background-color: rgb(143, 224, 170);">
  <div class="login-container">
   <div class="login-box">
    <h5 class="card-title mb-4">Login</h5>
    <!-- Detail of login -->
 <form method="POST" action="/login">
    <div class="form-floating mb-4 d-flex">
  <input type="username" class="form-control" id="username" name="username" placeholder="name@example.com" style="width: 400px;" required>
  <label for="floatingInput">Email address / Username</label>
  </div>
  <div class="form-floating mb-4">
  <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="width: 400px;" required>
  <label for="floatingPassword">Password</label>
  </div>
  <button type="submit" class="btn btn-success mb-3" style="width: 400px;">Login</button> 
  </form>
  {% if message %}
<p style="color: red;">{{ message }}</p>
{% endif %}
  <a class="mb-3" href="/">Not now</a>
  <a class="mb-3" href="/signup">Sign Up</a>
</div>
</div>
</body>
</html>